@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	min-width: 100vh;
	margin: 0 auto;
}

main {
	margin: 0 auto;
}

svg {
	width: 100%;
	overflow: visible;
}
